<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Mongoose Flights</title>
</head>
<body>
  <div class="topnav">
    <a class="active" href="/flights">All Flights</a>
    <a href="/flights/new">New Flight</a>
  </div>
  <h1>Flight List</h1>
  <table>
    <thead>
      <tr>
        <th>Airline</th>
        <th>Airport</th>
        <th>Flight Number</th>
        <th>Departs</th>
        <th>Now Flying</th>
      </tr>
    </thead>
    <tbody>
        <% flights.forEach(function(f){ %>
          <tr> 
            <td><%= f.airline %></td>
            <td><%= f.airport %></td>
            <td><%= f.flightNo %></td>
            <td><%= f.departs %></td>
         <td><%= f.nowFlying ? 'YES' : 'NO' %></td>
         <td><a href="/flights/<%= f._id%>">Details</a></td>
          </tr>
          <% }) %>
      </tbody>
  </table>
</body>
</html>