<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="/flights">All Flights</a>
        <a href="/flights/new">New Flight</a>
    </div>
    <h1>Flight Details</h1>
    <div><strong>Airline: </strong><%= flight.airline %></div>
    <div><strong>Airport: </strong><%= flight.airport %></div>
    <div><strong>Flight #: </strong><%= flight.flightNo %></div>
    <div><strong>Departure Date: </strong><%= flight.departs %></div>
    <div><strong>Destination: </strong>
    <% flight.destinations.forEach(function(d){ %>
         
          
          <%= d.airport %> <%= d.arrival %><br>
          
      <% }) %>
    </div>
    <div><strong>Tickets:</strong></div>
    <div><% ticket.forEach(function(t){ %>
         
          
        <%= t.price %> <%= t.seat %><br>
        
    <% }) %>
    </div>
    <a href="/flights/tickets/<%= flight._id %>">Purchase Ticket</a>
    <h2>Add Destination:</h2>
    
     <form action = "/flights/destinations/<%= flight.id %>" method ="POST">
        <select name='airport'>
            <option value = "ATL">ATL</option>
            <option value = "DFW">DFW</option>
            <option value = "DEN">DEN</option>
            <option value = "LAX">LAX</option>
            <option value = "SAN">SAN</option><br>
            <label>Arrives
                <input type='date' name='arrival'>
            </input><br>
            </label><br>
            <input type="submit" value="Add Destination">
        </select>
    </form>
    
    <h3>Delete Flight</h3>
    <form action = "/flights/<%= flight.id %>?_method=DELETE" class = "delete-form" method = "POST">
    <button type="submit">X</button>
    </form>


</body>
</html>