<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>
<body>
    <h1>Flight Details</h1>
    <div><strong>Airline: </strong><%= flight.airline %></div>
    <div><strong>Airport: </strong><%= flight.airport %></div>
    <div><strong>Flight #: </strong><%= flight.flightNo %></div>
    <div><strong>Departure Date </strong><%= flight.departs %></div>
    <div><strong>Destination: </strong><%= flight.destination %></div>

    <h2>Add Destination:</h2>
     <form action = "/flight/show" method ="POST">
        <select name='airport'>
            <option value = "ATL">ATL</option>
            <option value = "DFW">DFW</option>
            <option value = "DEN">DEN</option>
            <option value = "LAX">LAX</option>
            <option value = "SAN">SAN</option><br>
            <label>Arrives
                <input type='date' name='arrives'>
            </input>
            </label><br>
            <input type="submit" value="Add Destination">
        </select>
    </form>


</body>
</html>